@import '../../styles/Responsive.scss';
@import '../../styles/Variables.scss';

.firstSection{
    padding-inline: 10%;
    padding-block: 1%;
    display: flex;
    align-items: flex-start;
    gap: 5%;
    overflow: hidden;


    .left{
        width: 100%;
        opacity: 0;
        animation: fadeIn 2s 3s forwards;
        
        h2{
            font-size: 2.3rem;
            color: $Dark-Blue;
            margin-bottom: 2rem;
        }

        p{
            line-height: 25px;
            width: 350px;
        }
    }

    .right{
        width: 100%;

        .contentWrapper{
            display: flex;
            align-items: flex-start;
            gap: 2rem;
            margin-bottom: 2rem;
            opacity: 0;
            animation: fadeInUp 1s forwards;
            
            &.d1{
                animation-delay: 3.1s;
            }

            &.d2{
                animation-delay: 3.2s;
            }

            &.d3{
                animation-delay: 3.3s;
            }



            span{
                display: block;
                background: $Bright-Red;
                color: $Vary-Light-Gray;
                padding: .5rem 1.5rem;
                border-radius: 30px;
                font-weight: bold;
            }

            .content{
                h3{
                    color: $Dark-Blue;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                    margin-top: 0.5rem;
                }

                p{
                    line-height: 25px;
                    font-weight: 300;
                }
            }
        }
      
    }
}